html,
body {
	padding: 0;
	margin: 0;
	font-family: Be Vietnam Pro, Roboto, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
		Cantarell, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #f4f6f6 !important;
	color: #3e4b4b;
	font-size: 14px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
